body.result {
  * {
    color: grey;
  }
  dialog {
    border-radius: clamp(1rem, 2vw, 2.5rem);
    animation: popup 0.3s ease-out;
    background: rgba(50, 50, 50, 0.6);
    button {
      background: rgba(80, 80, 80, 0.9);
    }
  }
  dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }
  .modal {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
